* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: sans-serif;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

main {
  padding: 2rem;
}

h1 {
  font-weight: normal;
}

:root {
  --background-color: #232323;
  --foreground-color: white;
  --primary-color: #ea53fe;
}
